/* Colour palette
    #000F08 Black
    #8A3033 Red
    #EEF0F2 white
    #508991 teal
    #648381 greenish
*/


/* UNIVERSAL PROPERTIES */
* {

    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;

}

body {
    font-family: "Roboto", serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
    background-color: #000F08 !important;
    color: #EEF0F2 !important;
    justify-content: center;
    /* Horizontally center */
    align-items: center;
    /* Vertically center */
}

.nav-container {
    display: flex;
    justify-content: center;
    background-color: #8A3033;

}

.custom-navbar {
    width: 70%;
    color: #EEF0F2;
    background-color: #8A3033;
}

.custom-icon {
    color: #EEF0F2;
}

.navbar-brand {
    color: #EEF0F2;
}

.navbar-brand:hover {
    /* Change to your desired hover color */
    color: #000F08;
    /* Smooth transition (optional) */
    transition: color 0.3s;

}

.nav-link {
    color: #EEF0F2;
}

.nav-link:hover {
    /* Change to your desired hover color */
    color: #000F08;
    /* Smooth transition (optional) */
    transition: color 0.3s;

}

.bi:hover {
    /* Change to your desired hover color */
    color: #000F08;
    /* Smooth transition (optional) */
    transition: color 0.3s;

}

.movie-wrapper h2{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.custom-movie-listings{
    padding: 30px;
    width: auto;
    
}

.movie-card{
    display: flex;
    width: 20rem;
    margin: 20px;
    text-wrap: nowrap;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px;
    min-height: 100px;

}

.login-container {
    padding: 10px;
    width: 50%;
    min-width: 300px;
    background-color: #648381;
    border-radius: 20px;
    border: 5px solid #000F08;
    box-shadow: 5px 5px 5px 6px #000F08
}

.login-title {
    text-align: center;
}

.carousel-container {
    display: flex;
    justify-content: center;
    width: 100%;

}


.carousel-container {
    background-color: #000F08;
}

#movieCarousel {
    width: 20%;

}

.custom-movie-container{
   margin: 20px;
   padding: 20px;
   border-radius: 10px;
   color: #EEF0F2;
}

iframe {
    width: 1000px;
    height: 500px;
}

.account-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 20px;
    border-radius: 10px;
    background-color: #8A3033;
 
}

.account-container p{
    color: #000F08;
}

.booking-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin: 20px;
    border-radius: 10px;
   
    
}

.history-container{
    display: flex;
    justify-content: center;
    margin: 50px 30px 0px 30px;
    color: #EEF0F2;
    text-decoration: underline;
    
}

.booking-card{
    width: 30%;
    margin: 10px;
    background-color: #8A3033;
}

.update-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content:start;
    margin: 20px;
    padding: 20px;
    width: 100%;
}

.update-form-items{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 60%;
    padding: 10px;
}

.update-form-items label{
    margin-top: 10px;
}

#form-container {
    display: flex;
    justify-content: center;

}

/* Contact page */


.contact-form {
    width: 55%;
    margin-top: 20px;
    padding: 10px;
    background-color: #8A3033;
    color: #EFEFEF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    padding: 8px 16px;
}

.social-media-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #8A3033;
    margin: 20px -60px 0px -60px;
    border: 2px solid #EFEFEF;
}


/* FOOTER */

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #EEF0F2;
    background-color: #8A3033;
    width: 100%;
    height: 250px;
}

.footer-item {
    display: flex;
    flex-direction: column;
    padding: 6px;
    line-height: 200%;
}
.footer-icons {
    display: flex;
    flex-direction: row;
    padding: 6px;
    
}
.footer-icons a{
    margin: 2px;
}

.footer-item h3 {
    text-decoration: underline;
}

.footer-item a {
    color: #EFEFEF;
}

/* mobile phone */

@media screen and (max-width: 1000px) {
    .booking-container{

        flex-direction: column;
    }

}
