/* Colour palette
    #000F08 Black
    #8A3033 Red
    #EEF0F2 white
    #508991 teal
    #648381 greenish
*/


/* UNIVERSAL PROPERTIES */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;

}

body {
    font-family: 'Oswald', sans-serif;
    background-color: #8A3033;
    color: #000F08;
    justify-content: center;
    /* Horizontally center */
    align-items: center;
    /* Vertically center */
}

.nav-container {
    display: flex;
    justify-content: center;
    background-color:#648381 ;
    
}

.custom-navbar {
    width: 70%;
    color: #EEF0F2;
    background-color: #648381;
}

.custom-icon {
    color: #EEF0F2;
}

.navbar-brand {
    color: #EEF0F2;
}

.navbar-brand:hover {
    /* Change to your desired hover color */
    color: #000F08;
    /* Smooth transition (optional) */
    transition: color 0.3s;

}

.nav-link {
    color: #EEF0F2;
}

.nav-link:hover {
    /* Change to your desired hover color */
    color: #000F08;
    /* Smooth transition (optional) */
    transition: color 0.3s;

}

.bi:hover {
    /* Change to your desired hover color */
    color: #000F08;
    /* Smooth transition (optional) */
    transition: color 0.3s;

}

.login-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px;
    min-height: 100px;

}

.login-container {
    padding: 10px;
    width: 50%;
    min-width: 300px;
    background-color: #648381;
    border-radius: 20px;
    border: 5px solid #000F08;
    box-shadow: 5px 5px 5px 6px #000F08
}

.login-title {
    text-align: center;
}

.carousel-container{
    display: flex;
    justify-content: center;
    width: 100%;

}


.carousel-container{
    background-color: #000F08;
}
#movieCarousel{
    width: 20%;
    
}

.account-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 6px #000F08
}